@font-face{
	src: url(../fonts/Roboto-Light.ttf);
	font-family: roboto;

}
.threeFeather p,h3 {
    color: #7e7e7e;
    margin: 20px 0px;
    font-size: 1.3em;
    color: #938372;
    font-family: "roboto";
}
.threeFeather h1{
  color : #533834;
  font-family: "roboto";
}
#box h3, h2{
	color: white;
}
#box h3{
	padding-left: 30px;
}
#box{
	background-color: #938372;; 
	border-radius: 5px;
}
#line img{
    width: 80px;
   transition:none;
   transform: none;
  
}
.navbar{
  position: relative;
  background: rgba(38, 38, 38, 1) !important;"
}