@font-face{
	src: url(../fonts/Roboto-Light.ttf);
	font-family: roboto;

}
.threeFeather p,h3 {
    color: #7e7e7e;
    margin: 20px 0px;
    font-size: 1.3em;
    color: #938372;
    font-family: "roboto";
}
.threeFeather h1{
  color : #533834;
  font-family: "roboto";
}
#box h3, h2,p{
	color: white;
}
#box h3{
	padding-left: 30px;
}
#box{
	background-color: #938372;; 
	border-radius: 5px;
}
#line img{
  width: 80px;
   transition:none;
   transform: none;
  
}
.slideMenu{
  height: 500px;
  margin-top: 0px;
  padding: 200px;
  color: white;
  background-image: url('../images/bg-image-4.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: ;
  background-attachment: fixed;
}
.slideMenu .container-fluid{
  margin: 0 !important;
  padding: 0 !important;
}
.slideMenu img{
  overflow: all;
}
.slideMenu h1{
  margin: 0 auto;
}
.slideMenu p{
  text-transform: uppercase;
  padding-top: 20px;
  font-family: "roboto";
}
